.title {
  text-align: center;
  color: #4b4b4b;
  opacity: 0.5;
  cursor: pointer;
}

.game-container {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-board {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-board .player {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.score-board .player h1 {
  font-size: 28px;
  margin: 0.5rem 0 0 0;
  background-color: #4b4b4b;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.score-board .player p {
  margin: 0;
  background-color: #4b4b4b;
  color: white;
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.score-board .player h1 span.turn {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: deeppink;
}

.link {
  display: block;
  background-color: #4b4b4b;
  color: white;
  font-size: 24px;
  min-height: 50px;
  line-height: 50px;
  padding: 0 1rem;
  cursor: pointer;
  margin: 1rem auto;
  border: 1px solid #4b4b4b;
}

.link:hover {
  background-color: #ff64ab;
}


.flex {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
