@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lobster', cursive;
  font-size: 24px;
}

.form-container h1 {
  text-align: center;
  color: #4b4b4b;
  margin: 0.5rem 0 0 0;
}
.form-container form {
  display: block;
  width: 400px;
  margin: 0 auto;
}
.form-container form .form-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem;

}
.form-container form .form-input label {
  display: block;
  color: #4b4b4b;
}
.form-container form .form-input input {
  font-size: 24px;
  padding: 0.5rem 1rem;
  border: 1px solid #8a8a8a;
  margin-top: 0.2rem;
  font-family: 'Lobster', cursive;
  width: fit-content;
}
button {
  display: block;
  background-color: #4b4b4b;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  min-height: 50px;
  padding: 0 1rem;
  cursor: pointer;
  margin: 1rem auto;
  border: 1px solid #4b4b4b;
}
button:hover {
  background-color: #ff64ab;
}
